*{  margin: none;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Merriweather', serif; */

}

/* banner section css */
.banner-section{
    color: white;
    font-family: 'Merriweather', serif;
    max-width: 1320px;
    min-height: 600px;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../assests/images/banner-img.png');
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 140px 50px 140px;
   
}
.banner-title{
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 400;
}
.banner-descrip{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}
