*{  margin: none;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Merriweather', serif; */
   padding: none;
}

/*  banner section css */ 
.banner-section{
    color: white;
    font-family: 'Merriweather', serif;
    width: 1320px;
    height: 600px;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../assests/images/banner-img.png');
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.banner-title{
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 400;
}
.banner-descrip{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}
/* second-section css */
.second-section{
    margin-top: 70px;
    margin-bottom: 120px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.second-section-first-part{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.second-section-2nd-part{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.second-section-3rd-part{
    color: #070211;  
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
/* welcome-to-party-section */
.welcome-to-party-section{
    margin-bottom: 120px;
}
.welcome-to-party-left-section{
    margin: auto;
    width: 1320px;
    height: 600px;
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('../assests/images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
}
.welcome-to-party-left-section-title{
    padding-left: 126px;
    padding-top: 126px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    font-family: 'Merriweather', serif;
}
.welcome-to-party-left-section-descrip{
    padding-left: 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}
.welcome-to-party-left-section-descrip >span{
    color: #F00;
}
.join-btn{
    margin-left: 135px;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 400;
    color: #F00;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Inter', sans-serif;
}
.join-btn-section:hover .join-btn{
    background: white;
    color: black;
    border-radius: 0.3rem;
    width: 120px;
}
.welcome-to-party-right-section{
   position: absolute;
   right: 20%;
   top: 180%;
}
/* portfolio-section css */
.portfolio-section{
    max-width: 1600px;
    max-height: 7335px;
    margin: 100px 0px 100px 280px;
}
.portfolio-header{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #F00;
    margin-top: 100px;
}
.portfolio-descrip{
    margin-bottom: 30px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.portfolio-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.portfolio-images{
    border-radius: 16px; 
}
.first-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 20px;
}
.second-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
/* newsletter-section css */
.newsletter-section{
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsletter-descrip{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}
.newsletter-header{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 20px;
}
.newsletter-input-part{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0;
}
.newsletter-input{
   background: white;
    border-radius: 50px 0px 0px 50px;
    min-width: 438px;
    min-height: 60px;
    padding-left: 40px;
    outline: none;
    border: none;
}
.newsletter-btn{
    width: 210px;
    min-height: 60px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
/* footer css */
.footer-container{
    min-width:1900px;
    min-height: 600px;
    background: #070211;
    position: absolute;
    text-align: center;
    top: 450%;
    font-family: 'Inter', sans-serif;
}
.hrline{
    max-width: 1620px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-first-part{
    display: flex;
    justify-content: space-between;
}
.location{
    color: white;
    padding-left:140px ;
    padding-top: 100px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
}
.contact{
    color: white;
    padding-right:140px ;
    padding-top: 110px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.contact img{
    padding-right: 10px;
}
.social-links{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom:45px;
}
.footer-last-part{
    display: flex;
    justify-content: space-between;
}
.copyright-text{
    color: white;
    padding-left:140px ;
    padding-top: 100px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
}
.subscribe-text{
    color: white;
    padding-right:140px ;
    padding-top: 110px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}